.error-message {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* margin-top: 4px; */
    /* margin-bottom: 24px; */
    color: #FF0000;
    box-sizing: border-box;
    display: inline-block;
    opacity: 0;
    /* transform: translateY(-4px); */
}